<footer id="footer" class="row">
  
  <div class="footer-upper row col-md-8">
    <div class="column-container col-md-4 col-sm-4 col-12">
      <div class="column-title">Kontakt</div>
      <div class="column-body-container">
        <ul>
          <li>Letná 1/90</li>
          <li>040 01 Košice</li>
          <br>
          <li>Email: sipc@tuke.sk</li>
          <li>Tel. číslo: 055/602 26 84</li>
          
        </ul>
      </div>
    </div>
    <div class="column-container col-md-4 col-sm-4 col-12">
      <div class="column-title">O nás</div>
      <div class="column-body-container">
        <ul>
          <li><a href="#">Obchodné podmienky</a></li>
          <li><a href="#">Ochrana osobných údajov</a></li>
        </ul>
      </div>
    </div>

    <div class="column-container col-md-4 col-sm-4 col-12">
      <div class="column-title"><!--Sledujte nás na --></div>
      <div class="column-body-container">
        <div class="social-media">
          <a href="https://www.facebook.com/tuke.sk" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="http://www.twitter.com/sipctuke" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/tuke.sk/" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="copyright-container col-md-12">
    <div class="copyright">
      &copy; {{currentYear}} iCube. Všetky práva sú vyhradené.
    </div>
  </div>
</footer>

