frontend/Readme.md

*/backend/idea/*
*/frontend/idea/*

frontend/.idea/*
frontend/.idea

frontend/.idea/workspace.xml
backend/.idea/workspace.xml

*/frontend/.idea/*
frontend/.idea/*

*/.idea/*
.idea/*

./idea
./idea*
./idea/workspace
frontend/.idea/workspace.xml

