<div id="sticky-social-links-container">
    <ul id="social-list">
      <li><a href="https://www.facebook.com/tuke.sk" class="facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="http://www.twitter.com/sipctuke" class="twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UCM4bp5DZVyXEuRBR1-4rkyg" class="youtube"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://www.instagram.com/tuke.sk/" class="instagram"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://www.tuke.sk/" class="tuke-logo"><img src="../../assets/images/ikonka_TUKE.png" alt="tuke-logo"></a></li>
      <li><a href="http://web.tuke.sk/sipc/" class="tuke-logo"><img src="../../assets/images/ikonka_iCUBE.png" alt="tuke-logo"></a></li>
    </ul>
  </div>