.product-price-outlook {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.product {
  width: 100%;
  margin-bottom: 10px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.product img {
  max-width: 100%;
  height: auto;
}

.img-hover-zoom {
  overflow: hidden;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}


.title-price-wapper {
  display: flex;
  flex-direction: column;
}

.title-price-wapper p {
  display: inline-flex;
  justify-content: center;
}

.product-name {
  color: black;
  font-size: 18px;
}

.product-price {
  color: #2FAAAB;
  font-size: 24px;
}

a {
  display: block;
  text-decoration: none;
}

.sold-out-label {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 100;
  font-size: 16px;
  padding: 10px 5px;
  background-color: #5a5a5a;
  color: white;
  text-decoration: none;
  letter-spacing: 0.7px;
}