<div class="container-full-width">
  <div class="container-height row">
    <!-- <img src="{{advertisement?.image?.urlAddressOfImage}}" alt="{{advertisement?.image?.name}}" > -->
    <div class="image-wrapper col-sm-5 offset-sm-1 col-12">
      <img src="../../../assets/images/visualisations/_doplnky/siltovka_front_TUKE-1952.jpg" alt="siltovka">
    </div>
    <div class="text-area col-sm-5 col-12">
      <h1 class="title">Kolekcia TUKE 1952</h1>
      <h1 class="description">Lorem ipsum dolor sit amet, consectetur elit. Praesent vitae porttitor nisl, at lobortis massa. Pellentesque sit amet auctor elit.</h1>
      <a routerLink="/category" class="checkout-offer">Pozrieť si ponuku.</a>
    </div>
  </div>
</div>

